<%+header%>
<h2><%:HeroProxy 日志%></h2>
<div class="cbi-map">
    <div class="cbi-section">
        <div class="cbi-section-node">
            <textarea id="logview" style="width: 100%; height: 500px; font-size: 12px; font-family: monospace; resize: none;" readonly="readonly"></textarea>
        </div>
        <div class="cbi-section-node">
            <input type="button" class="btn cbi-button cbi-button-apply" value="<%:刷新日志%>" onclick="update_log()" />
        </div>
    </div>
</div>

<script type="text/javascript">
    function update_log() {
        XHR.get('<%=url("admin/services/heroproxy/get_log")%>', null,
            function(x, data) {
                document.getElementById('logview').value = data;
            }
        );
    }
    
    update_log();
    setInterval(update_log, 5000);
</script>
<%+footer%> 