<%
local dsp = require "luci.dispatcher"
-%>

<fieldset class="cbi-section">
    <legend><%:Running Status%></legend>
    <table width="100%" cellspacing="10" id="heroproxy_status">
        <tr>
            <td width="33%"><%:Sing-box Status%></td>
            <td id="singbox_status"><em><%:Collecting data...%></em></td>
        </tr>
        <tr>
            <td width="33%"><%:Mosdns Status%></td>
            <td id="mosdns_status"><em><%:Collecting data...%></em></td>
        </tr>
    </table>
</fieldset>

<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=dsp.build_url("admin/services/heroproxy/status")%>', null,
    function(x, data) {
        var singbox_status = document.getElementById('singbox_status');
        var mosdns_status = document.getElementById('mosdns_status');
        
        if (data && singbox_status && mosdns_status) {
            singbox_status.innerHTML = data.singbox_running ? 
                '<em><b><font color=green><%:Running%></font></b></em>' : 
                '<em><b><font color=red><%:Not running%></font></b></em>';
            
            mosdns_status.innerHTML = data.mosdns_running ? 
                '<em><b><font color=green><%:Running%></font></b></em>' : 
                '<em><b><font color=red><%:Not running%></font></b></em>';
        }
    }
);
//]]></script>

<script type="text/javascript">
function cleanRules() {
    var loading = document.getElementById('clean_rules_loading');
    if (loading) loading.style.display = 'inline';
    
    XHR.get('<%=url("admin/services/heroproxy/clean_rules")%>', null,
        function(x, data) {
            if (loading) loading.style.display = 'none';
            if (data && data.code === 0) {
                location.reload();
            }
        }
    );
    return false;
}
</script>

<style>.mar-10 { margin-left: 50px; margin-right: 10px; }</style>
  </rewritten_file>